$olor-1: #4976f3;
$color-2: #9c1fff;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;
$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

$headers-size-h1: 3rem;
$headers-size-h2: 2.5rem;
$headers-size-h3: 1.5rem;