.services-page {
  background-image: url("/images/services/1.png");
  background-size: auto;
  background-repeat: repeat;
}
.services-page .poster {
  padding-top: 7em;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services-page .poster .container {
  display: flex;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.services-page .poster .container .right {
  position: relative;
  display: flex;
  width: 30rem;
  height: 30rem;
}
.services-page .poster .container .left {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.services-page .poster .container .left h1 {
  line-break: normal !important;
  line-height: 1.25;
}
.services-page .poster .container .left h1 .highlight {
  background-color: white;
  display: inline-block;
  padding: 0 0.5em;
  padding-block-end: 0.25em;
  border-radius: 1rem;
  margin: 0 1rem;
  margin-top: 1rem;
}
.services-page .poster .container .left h1 .highlight small {
  background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 99.99%, rgba(0, 0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-page .poster .container .left p {
  margin-top: 1rem;
  line-height: 2;
  font-size: 1.25rem;
  opacity: 0.7;
}
.services-page .top-sales {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.services-page .top-sales h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(255, 255, 23);
}
.services-page .top-sales .body {
  max-width: 1300px;
  align-self: center;
  margin-right: -1rem;
  margin-top: 2rem;
}
.services-page .top-sales .body .item {
  position: relative;
  background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
  stroke-width: 6px;
  stroke: #ffb700;
  filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
  padding: 2em;
  border-radius: 1rem;
  margin: 1rem 0;
  margin-top: 3rem;
  margin-right: 1rem;
}
.services-page .top-sales .body .item .item-header img {
  position: absolute;
  top: -4em;
  right: 2rem;
}
.services-page .top-sales .body .item .item-body {
  margin-top: 1.5rem;
}
.services-page .top-sales .body .item .item-body h3 {
  font-size: 1.75rem;
}
.services-page .top-sales .body .item .item-body ul {
  padding-right: 1em;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0.75;
}
.services-page .top-sales .body .item .item-body ul li {
  list-style: disc;
}
.services-page .top-sales .body .item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.services-page .top-sales .body .item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
}
.services-page .top-sales .body .item .item-buttons button svg {
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 0.75rem;
}
.services-page .todays-service {
  position: relative;
  margin-top: 4rem;
}
.services-page .todays-service fieldset {
  border: none;
  border-radius: 35px;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
.services-page .todays-service fieldset legend {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  margin-right: 4rem;
  font-size: 1.75rem;
  color: black;
  padding: 0.5em 2em;
  font-weight: bold;
}
.services-page .todays-service fieldset .content {
  display: grid;
  grid-template-columns: 18rem 1fr;
  padding: 2em;
}
.services-page .todays-service fieldset .content .left {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.services-page .todays-service fieldset .content .left h2 {
  background: linear-gradient(90deg, #d602fc 44.31%, #0d4bf4 51.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 30px;
  font-style: normal;
}
.services-page .todays-service fieldset .content .left ul {
  display: flex;
  gap: 2rem;
  padding: 1em 0;
  padding-right: 1em;
}
.services-page .todays-service fieldset .content .left ul li {
  list-style: disc;
}
.services-page .todays-service fieldset .content .left p {
  display: inline;
  color: rgba(0, 0, 0, 0.57);
  text-align: right;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  width: 90%;
  margin-left: auto;
}
.services-page .todays-service fieldset .content .left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.services-page .todays-service fieldset .content .left .buttons svg {
  font-size: 3.5rem;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
}
.services-page .todays-service fieldset .content .left .buttons span {
  font-size: 2rem;
  font-weight: bold;
}
.services-page .todays-service fieldset .content .right {
  position: relative;
}
.services-page .todays-service .shapes .shape-1 {
  left: 0;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 20%;
  bottom: 5%;
}
.services-page .popular-categories {
  margin-top: 3rem;
}
.services-page .popular-categories .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-page .popular-categories .header .left {
  position: relative;
}
.services-page .popular-categories .header .left .image {
  width: 23rem;
  height: 23rem;
  scale: 1.3;
}
.services-page .popular-categories .header .right p {
  line-height: 2;
  font-size: 1.25rem;
  opacity: 0.7;
  max-width: 43ch;
}
.services-page .popular-categories .body {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}
.services-page .popular-categories .body .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  border-radius: 21px;
  padding: 2em;
  background: linear-gradient(180deg, #fb9534 0%, #a541ff 100%, #a541ff 100%);
}
.services-page .popular-categories .body .item .item-header {
  position: relative;
  width: 150px;
  aspect-ratio: 1/1;
}
.services-page .popular-categories .body .item .item-header img {
  -o-object-fit: contain;
     object-fit: contain;
}
.services-page .popular-categories .body .item .item-body {
  text-align: center;
}
.services-page .popular-categories .body .item .item-body p {
  font-size: 0.8rem;
  opacity: 0.7;
}
.services-page .popular-categories .body .item .item-body button {
  background-color: white;
  border-radius: 100rem;
  color: #9c1fff;
  padding: 0.5em 1em;
  margin-top: 1rem;
}
.services-page .platform-select {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.services-page .platform-select .platforms {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
}
.services-page .platform-select .platforms .header {
  display: flex;
  flex-direction: column;
}
.services-page .platform-select .platforms .header .list {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  gap: 1rem;
}
.services-page .platform-select .platforms .header .list .item {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
}
.services-page .platform-select .platforms .header .list .item-true {
  background-color: white;
  border-radius: 1rem;
}
.services-page .platform-select .platforms .header p {
  color: rgba(255, 255, 255, 0.74);
  text-align: right;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 60ch;
}
.services-page .platform-select .platforms .header h2 {
  margin-top: 0.5rem;
}
.services-page .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.services-page .search-box .search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  border-radius: 100rem;
  gap: 0.5rem;
}
.services-page .search-box .search-input input {
  all: unset;
  font-size: 1.5rem;
}
.services-page .search-box .search-input svg {
  font-size: 1.5rem;
  rotate: 90deg;
}
.services-page .search-box .filter .css-13cymwt-control {
  border-radius: 100rem !important;
}
.services-page .search-box .filter * {
  color: black !important;
  font-size: 1.5rem;
}
.services-page .search-top-sales {
  margin-top: 2rem;
  max-width: 1300px;
  align-self: center;
}
.services-page .search-top-sales h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(255, 255, 23);
  font-size: 2.5rem;
}
.services-page .search-top-sales .body {
  align-self: center;
  margin-right: -1rem;
  margin-top: 1rem;
}
.services-page .search-top-sales .body .item {
  position: relative;
  background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
  stroke-width: 6px;
  stroke: #ffb700;
  filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
  padding: 2em;
  border-radius: 1rem;
  margin: 1rem 0;
  margin-top: 3rem;
  margin-right: 1rem;
}
.services-page .search-top-sales .body .item .item-header img {
  position: absolute;
  top: -4em;
  right: 2rem;
}
.services-page .search-top-sales .body .item .item-body {
  margin-top: 1.5rem;
}
.services-page .search-top-sales .body .item .item-body h3 {
  font-size: 1.75rem;
}
.services-page .search-top-sales .body .item .item-body ul {
  padding-right: 1em;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0.75;
}
.services-page .search-top-sales .body .item .item-body ul li {
  list-style: disc;
}
.services-page .search-top-sales .body .item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.services-page .search-top-sales .body .item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
}
.services-page .search-top-sales .body .item .item-buttons button svg {
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 0.75rem;
}
.services-page .search-table-result {
  margin: 3rem 0;
}/*# sourceMappingURL=services.css.map */