.accordion {
    border-radius: 0.5rem;
    overflow: hidden;
    .accordion-header {
    }

    .accordion-body {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 1s ease;
        .content {
            overflow: hidden;
        }
    }
}

.accordion-true {
    border-radius: 0.5rem;
    overflow: hidden;
    .accordion-header {
        svg {
            rotate: 0deg !important;
        }
    }

    .accordion-body {
        display: grid;
        grid-template-rows: 1fr;
        transition: all 1s ease;
        .content {
            overflow: hidden;
        }
    }
}