$color-1: #4976f3;
$color-2: #9c1fff;

$headers-size-h1: 3rem;
$headers-size-h2: 2.5rem;
$headers-size-h3: 1.5rem;

@font-face {
    font-family: B-Yekan;
    src: url("/fonts/b-yekan.ttf");
}

@font-face {
    font-family: iranSans;
    src: url("/fonts/iran-sans.ttf");
}

.number {
    font-family: iranSans;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

a {
    font-family: B-Yekan;
}

img {
    display: flex;
    object-fit: contain;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    direction: rtl;
    background-image: url("/images/main-page/1.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: B-Yekan !important;
}

main {
    height: max-content !important;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.shapes {
    position: absolute;
    inset: 0;
}

button {
    all: unset;
    cursor: pointer;
}

.icon {
    * {
        color: inherit !important;
    }
}

h1 {
    font-size: $headers-size-h1;
}

h2 {
    font-size: $headers-size-h2;
}

h3 {
    font-size: $headers-size-h3;
    font-weight: normal;
}

.shapes {
    position: absolute;
    pointer-events: none;
}

.swiper {
    max-width: 100% !important;
}

.main-page {
    .poster {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        .left {
            display: flex;
            flex-direction: column;
            align-items: start;
            color: white;
            h1 {
                font-size: $headers-size-h1;
                text-align: right;
            }
            p {
                max-width: 55ch;
                font-size: 1.5rem;
                line-height: 2;
                opacity: 0.7;
            }
            .login {
                display: flex;
                margin-top: 1rem;
                gap: 1rem;
                flex-wrap: wrap;
                .group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.25rem;
                    border-radius: 10px;
                    border: 2px solid #ffffff44;
                    padding: 0.75em;
                    gap: 0.25rem;
                    input {
                        all: unset;
                        font-size: 1.5rem;
                        &::placeholder {
                            color: white;
                        }
                    }
                }
                .buttons {
                    display: flex;
                    width: 100%;
                    gap: 2rem;
                    margin-top: 1rem;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        font-size: 1.5rem;
                        border-radius: 0.5rem;

                        &:first-child {
                            background-color: white;
                            color: $color-1;
                            padding: 0.1em 1em;
                            span {
                            }
                        }
                    }
                }
            }
        }
        .right {
            img {
                object-fit: contain;
            }
        }
        .shapes {
            position: absolute;
            inset: 0;
            overflow: hidden;
            .shape-1 {
                position: absolute;
                right: 0;
                top: 0em;
                width: 500px;
                height: 600px;
            }

            .shape-2 {
                position: absolute;
                left: -5rem;
                width: 300px;
                height: 300px;
                top: 10rem;
            }
            .shape-3 {
                position: absolute;
                left: -5rem;
                width: 200px;
                height: 200px;
                bottom: 5rem;
            }
            .shape-4 {
                position: absolute;
                left: 50%;
                width: 200px;
                height: 200px;
                bottom: 0;
            }

            .shape-5 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 400px;
                height: 400px;
            }
        }
    }

    .why-us {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        margin-top: 5rem;
        position: relative;
        height: max-content;
        .left {
            width: 676px;
            .avatar {
                width: 100%;
                height: 818px;
                position: relative;
            }
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            .items {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 3rem;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    .image {
                        position: relative;
                        width: 7rem;
                        height: 7rem;
                    }
                    .info {
                        p {
                            font-size: 1.25rem;
                            max-width: 50ch;
                            opacity: 0.7;
                        }
                    }
                    &:nth-child(2) {
                        margin-right: 8rem;
                    }
                    &:nth-child(3) {
                        margin-right: 3rem;
                    }
                    &:nth-child(4) {
                        margin-right: 12rem;
                    }
                }
            }
        }
        .shapes {
            .shape-1 {
                position: absolute;
                width: 500px;
                height: 500px;
                right: -150px;
                top: 100px;
            }
        }
    }

    .platforms {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url("/images/main-page/22.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5em;
        position: relative;
        justify-content: center;
        margin-top: 8rem;
        .header {
            display: flex;
            flex-direction: column;
            .list {
                display: flex;
                justify-content: start;
                margin-top: 0.5rem;
                gap: 1rem;
                .item {
                    width: 6.5rem;
                    height: 6.5rem;
                    position: relative;
                }
            }
            p {
                color: rgba(255, 255, 255, 0.74);
                text-align: right;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: 60ch;
            }
        }

        .body {
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: center;
            margin-top: 2rem;
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 17rem;
                border-radius: 21px;
                padding: 2em;
                background: linear-gradient(180deg, #fb9534 0%, #a541ff 100%, #a541ff 100%);
                .item-header {
                    position: relative;
                    width: 150px;
                    aspect-ratio: 1/1;
                    img {
                        object-fit: contain;
                    }
                }
                .item-body {
                    text-align: center;
                    p {
                        font-size: 0.8rem;
                        opacity: 0.7;
                    }
                    button {
                        background-color: white;
                        border-radius: 100rem;
                        color: $color-2;
                        padding: 0.5em 1em;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .shapes {
            .shape-1 {
                position: absolute;
                width: 500px;
                height: 500px;
                left: 0;
                bottom: 0;
            }

            .shape-2 {
                position: absolute;
                width: 500px;
                height: 500px;
                right: 0;
                top: 20%;
            }
        }
    }

    .top-services {
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: relative;
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            .left {
                max-width: 70ch;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                p {
                    font-size: 1.5rem;
                    opacity: 0.7;
                    max-width: 40ch;
                    line-height: 1.75;
                }
                span {
                    background-color: white;
                    color: $color-2;
                    margin: 1rem;
                    padding: 0 0.5em;
                    border-radius: 0.5rem;
                    padding-block-end: 0.5rem;
                }
            }
            .right {
                .image {
                    position: relative;
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
        .body {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            max-width: 1200px;
            gap: 2rem;
            z-index: 1;
            .item {
                background-color: white;
                padding: 2em;
                position: relative;
                border-radius: 1rem;
                .image {
                    position: absolute;
                    top: -4em;
                    width: 8rem;
                    height: 8rem;
                }
                h3 {
                    background: linear-gradient(180deg, #d602fc 0%, #3c6ff7 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: bold;
                    margin-top: 1.5rem;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-top: 0.5rem;
                    li {
                        color: rgba(0, 15, 94, 0.54);
                        text-align: right;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        list-style: disc;
                        margin-right: 1rem;
                    }
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 1rem;
                    margin-top: 1rem;
                    span {
                        background: linear-gradient(180deg, #d602fc 0%, #3c6ff7 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        padding-top: 0 !important;
                        padding-block: 0 !important;
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 1;
                    }
                    svg {
                        background-color: #f9435d;
                        color: white;
                        font-size: 3rem;
                        padding: 0.5rem;
                        border-radius: 50%;
                    }
                }
            }
        }
        .shapes {
            position: absolute;
            .shape-1 {
                width: 300px;
                height: 300px;
                position: absolute;
                top: 10%;
                left: 10%;
            }

            .shape-2 {
                width: 700px;
                height: 700px;
                position: absolute;
                bottom: 0%;
                left: 10%;
            }

            .shape-3 {
                position: absolute;
                width: 700px;
                height: 700px;
                right: -200px;
                top: 100px;
            }
        }
    }

    .customers-reviews {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        align-self: center;

        .left {
            display: flex;
            flex-direction: column;
            .header {
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                h1 {
                    max-width: 20ch;
                }
                p {
                    max-width: 50ch;
                    font-size: 1.5rem;
                    margin-top: 0.5rem;
                    // opacity: 0.7;
                    line-height: 2;
                }
            }
            .body {
                display: grid;
                margin-top: 1rem;
                gap: 1rem;
                max-width: 80%;
                align-self: center;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 1rem;
                overflow: hidden;

                .initial-child-container {
                    width: max-content !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-left: 1rem;
                }
                .item {
                    background-color: white;
                    border-radius: 1rem;
                    padding: 1em;
                    color: black;
                    width: 18rem;
                    .item-header {
                        display: flex;
                        align-items: center;
                        h3 {
                            font-size: 1.25rem;
                            font-weight: bold;
                        }
                        .date {
                            font-size: 0.9rem;
                            opacity: 0.6;
                        }
                        .stars {
                            color: orange;
                        }
                    }
                    .item-body {
                        display: flex;
                        flex-direction: column;
                        padding: 0.5em;
                        h3 {
                            font-weight: bold;
                        }
                        p {
                            font-size: 1rem;
                            line-height: 1.5;
                            opacity: 0.7;
                            margin-top: 0.5rem;
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 0.25rem;
                            margin-top: 0.5rem;

                            li {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                span {
                                    font-weight: bold;
                                }
                                svg {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                    .image {
                        position: relative;
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
        .right {
            position: absolute;
            .image {
                width: 800px;
                height: 800px;
                position: relative;
                opacity: 0.5;
                filter: blur(5px);
            }
        }
    }

    .videos {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: max-content;
        margin-top: 2rem;
        .left {
            h1 {
                max-width: 18ch;
            }
            p {
                max-width: 50ch;
                font-size: 1.5rem;
                margin-top: 0.5rem;
                opacity: 0.7;
                line-height: 2;
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;
                padding: 0.25em 1em;
                background-color: white;
                border-radius: 100rem;
                color: $color-2;
                margin-top: 1.5rem;
                font-size: 1.3rem;
            }
        }
        .right {
            position: relative;
            width: 500px;
            height: 500px;
        }
    }

    .gifts {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1em;
        margin-top: 2rem;
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
        p {
            font-size: 1.2rem;
        }
    }

    .blogs {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        position: relative;
        background-repeat: no-repeat;
        .header {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            p {
                font-size: 1.5rem;
                max-width: 45ch;
                opacity: 0.7;
                margin-top: 1rem;
                line-height: 1.75;
            }
        }
        .body {
            padding: 0 2em;
            margin-top: 2rem;

            .item {
                color: black;
                .item-header {
                    .image {
                        width: 100%;
                        position: relative;
                        background-color: red;
                        aspect-ratio: 16/11;
                        border-radius: 2rem;
                        overflow: hidden;
                        img {
                            object-fit: cover;
                        }
                    }
                }
                .item-body {
                    background-color: white;
                    border-radius: 2rem;
                    position: relative;
                    top: -5rem;
                    width: 85%;
                    margin: 0 auto;
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    h3 {
                        font-weight: bold;
                    }
                    p {
                        font-size: 0.9rem;
                        opacity: 0.8;
                        line-height: 1.5;
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row-reverse;
                            gap: 0.25rem;
                            font-size: 1.3rem;
                            color: #ffb700;
                            border: 2px solid #ffb700;
                            border-radius: 100rem;
                            padding: 0.25em;
                            width: 50%;
                            &:first-child {
                                background-color: #ffb700;
                                color: white;
                            }
                        }
                    }
                }
            }

            .shape-1 {
                width: 100%;
            }
        }
    }
}

.services-page {
    background-image: url("/images/services/1.png");
    background-size: auto;
    background-repeat: repeat;
    .poster {
        padding-top: 7em;
        margin: 0 auto;
        gap: 3rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        .container {
            display: flex;
            max-width: 1300px;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            .right {
                position: relative;
                display: flex;
                width: 30rem;
                height: 30rem;
            }
            .left {
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                h1 {
                    line-break: normal !important;
                    line-height: 1.25;
                    .highlight {
                        background-color: white;
                        display: inline-block;
                        padding: 0 0.5em;
                        padding-block-end: 0.25em;
                        border-radius: 1rem;
                        margin: 0 1rem;
                        margin-top: 1rem;
                        small {
                            background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 99.99%, rgba(0, 0, 0, 0) 100%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
                p {
                    margin-top: 1rem;
                    line-height: 2;
                    font-size: 1.25rem;
                    opacity: 0.7;
                }
            }
        }
    }

    .top-sales {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            color: rgb(255, 255, 23);
        }

        .body {
            max-width: 1300px;
            align-self: center;
            margin-right: -1rem;
            margin-top: 2rem;
            .item {
                position: relative;
                background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
                stroke-width: 6px;
                stroke: #ffb700;
                filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
                padding: 2em;
                border-radius: 1rem;
                margin: 1rem 0;
                margin-top: 3rem;
                margin-right: 1rem;
                .item-header {
                    img {
                        position: absolute;
                        top: -4em;
                        right: 2rem;
                    }
                }

                .item-body {
                    margin-top: 1.5rem;

                    h3 {
                        font-size: 1.75rem;
                    }

                    ul {
                        padding-right: 1em;
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        opacity: 0.75;
                        li {
                            list-style: disc;
                        }
                    }
                }

                .item-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row-reverse;
                        gap: 0.5rem;
                        font-size: 1.75em;
                        align-items: center;
                        justify-content: center;
                        svg {
                            background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
                            border-radius: 50%;
                            font-size: 3.5rem;
                            padding: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    .todays-service {
        position: relative;
        margin-top: 4rem;
        fieldset {
            border: none;
            border-radius: 35px;
            background: #fff;
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            legend {
                border-radius: 20px 20px 0px 0px;
                background: #fff;
                margin-right: 4rem;
                font-size: 1.75rem;
                color: black;
                padding: 0.5em 2em;
                font-weight: bold;
            }
            .content {
                display: grid;
                grid-template-columns: 18rem 1fr;
                padding: 2em;
                .left {
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    h2 {
                        background: linear-gradient(90deg, #d602fc 44.31%, #0d4bf4 51.76%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-align: right;
                        font-size: 30px;
                        font-style: normal;
                    }
                    ul {
                        display: flex;
                        gap: 2rem;
                        padding: 1em 0;
                        padding-right: 1em;
                        li {
                            list-style: disc;
                        }
                    }
                    p {
                        display: inline;
                        color: rgba(0, 0, 0, 0.57);
                        text-align: right;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.75;
                        width: 90%;
                        margin-left: auto;
                    }
                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        margin-top: 1.5rem;
                        svg {
                            font-size: 3.5rem;
                            color: white;
                            padding: 0.75rem;
                            border-radius: 50%;
                            background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
                        }
                        span {
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }
                }
                .right {
                    position: relative;
                }
            }
            z-index: 1;
        }

        .shapes {
            .shape-1 {
                left: 0;
                width: 150px;
                height: 150px;
                position: absolute;
                left: 20%;
                bottom: 5%;
            }
        }
    }

    .popular-categories {
        margin-top: 3rem;
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            .left {
                position: relative;
                .image {
                    width: 23rem;
                    height: 23rem;
                    scale: 1.3;
                }
            }
            .right {
                p {
                    line-height: 2;
                    font-size: 1.25rem;
                    opacity: 0.7;
                    max-width: 43ch;
                }
            }
        }
        .body {
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: center;
            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 17rem;
                border-radius: 21px;
                padding: 2em;
                background: linear-gradient(180deg, #fb9534 0%, #a541ff 100%, #a541ff 100%);
                .item-header {
                    position: relative;
                    width: 150px;
                    aspect-ratio: 1/1;
                    img {
                        object-fit: contain;
                    }
                }
                .item-body {
                    text-align: center;
                    p {
                        font-size: 0.8rem;
                        opacity: 0.7;
                    }
                    button {
                        background-color: white;
                        border-radius: 100rem;
                        color: $color-2;
                        padding: 0.5em 1em;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .platform-select {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        .platforms {
            display: flex;
            align-items: start;
            flex-direction: column;
            position: relative;
            justify-content: center;
            width: max-content;
            align-self: center;
            .header {
                display: flex;
                flex-direction: column;
                .list {
                    display: flex;
                    justify-content: start;
                    margin-top: 1rem;
                    gap: 1rem;
                    .item {
                        width: 6.5rem;
                        height: 6.5rem;
                        position: relative;
                    }
                    .item-true {
                        background-color: white;
                        border-radius: 1rem;
                    }
                }
                p {
                    color: rgba(255, 255, 255, 0.74);
                    text-align: right;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    max-width: 60ch;
                }
                h2 {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;

        .search-input {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            color: black;
            padding: 0.5em 1em;
            border-radius: 100rem;
            gap: 0.5rem;
            input {
                all: unset;
                font-size: 1.5rem;
            }
            svg {
                font-size: 1.5rem;
                rotate: 90deg;
            }
        }
        .filter {
            .css-13cymwt-control {
                border-radius: 100rem !important;
            }
            * {
                color: black !important;
                font-size: 1.5rem;
            }
        }
    }

    .search-top-sales {
        margin-top: 2rem;
        max-width: 1300px;
        align-self: center;
        h1 {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            color: rgb(255, 255, 23);
            font-size: $headers-size-h2;
        }

        .body {
            align-self: center;
            margin-right: -1rem;
            margin-top: 1rem;
            .item {
                position: relative;
                background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
                stroke-width: 6px;
                stroke: #ffb700;
                filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
                padding: 2em;
                border-radius: 1rem;
                margin: 1rem 0;
                margin-top: 3rem;
                margin-right: 1rem;
                .item-header {
                    img {
                        position: absolute;
                        top: -4em;
                        right: 2rem;
                    }
                }

                .item-body {
                    margin-top: 1.5rem;

                    h3 {
                        font-size: 1.75rem;
                    }

                    ul {
                        padding-right: 1em;
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        opacity: 0.75;
                        li {
                            list-style: disc;
                        }
                    }
                }

                .item-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row-reverse;
                        gap: 0.5rem;
                        font-size: 1.75em;
                        align-items: center;
                        justify-content: center;
                        svg {
                            background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
                            border-radius: 50%;
                            font-size: 3.5rem;
                            padding: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    .search-table-result {
        margin: 3rem 0;
    }
}

.login-page {
    min-height: 100dvh;
    background-image: url("/images/login/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 27rem 40rem;
    place-content: center;
    align-items: center;
    .left {
        display: flex;
        .image {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;
            mix-blend-mode: hard-light;
        }
    }
    .right {
        form {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(214, 2, 252, 0.5) 100%);
            border-radius: 1.5rem;
            padding: 2em 3em;
            backdrop-filter: blur(10px);
            box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.1);

            .header {
                display: flex;
                justify-content: start;
                align-items: center;
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 0.5rem;
                    button {
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;
                        justify-content: center;
                        gap: 0.25rem;
                        font-size: 1.25rem;
                        border-radius: 68px;
                        padding: 0.5em 1.5em;
                        svg {
                            font-size: 1.5rem;
                        }
                    }

                    .item-true {
                        background: #fff;
                        color: $color-2;
                    }
                }
                .buttons {
                }
            }
            .body {
                margin-top: 1rem;
                p {
                    opacity: 0.7;
                    line-height: 1.75;
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 1rem;
                    .form-group {
                        border: 2px solid #fff;
                        border-radius: 100rem;
                        font-size: 1.25rem;
                        display: flex;
                        align-items: center;
                        padding: 0 1em;
                        gap: 0.5rem;
                        input {
                            all: unset;
                            width: 100%;
                            padding: 0.75em 0;
                            &::placeholder {
                                color: rgba(255, 255, 255, 0.651);
                            }
                        }
                        svg {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                padding: 1em;
                .submit {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    color: $color-2;
                    font-size: 2rem;
                    margin-top: 1rem;
                    border-radius: 100rem;
                    padding-block-end: 0.5rem;
                }
            }
        }
    }
}

.contact-us {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 3em;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        .form-header {
            z-index: 1;
            max-width: 60ch;
            span {
                background-color: white;
                display: inline-block;
                margin: 0 1rem;
                margin-right: 0;
                margin-top: 0.5rem;
                padding: 0 0.5em;
                border-radius: 0.5rem;
                small {
                    background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 99.99%, rgba(0, 0, 0, 0) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p {
                margin-top: 0.5rem;
                line-height: 1.75;
            }
        }
        .form-body {
            display: grid;
            grid-template-columns: 15rem 15rem;
            align-items: center;
            margin-top: 1rem;
            gap: 1rem;
            .form-group {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                color: white;
                border: 2px solid white;
                border-radius: 0.5rem;
                padding: 0.5em 1em;
                gap: 0.25rem;
                font-size: 1.1rem;
                input {
                    all: unset;
                    width: 100%;
                    &::placeholder {
                        color: white;
                    }
                }
                svg {
                    font-size: 1.5rem;
                }
            }
            .message {
                grid-column: -1/1;
                align-items: start;
                textarea {
                    width: 100%;
                    background-color: transparent;
                    border: none !important;
                    box-shadow: none !important;
                    outline: none !important;
                    color: white;
                    font-size: 1rem;
                    font-family: inherit !important;
                    &::placeholder {
                        color: white;
                    }
                }
            }
        }

        .form-buttons {
            display: flex;
            margin-top: 2rem;
            button {
                background-color: white;
                font-weight: bold;
                padding: 0.25em 2em;
                font-size: 1.25rem;
                border-radius: 0.5rem;
                span {
                    background: linear-gradient(180deg, #d602fc 0%, #197bf2 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/images/contact-us/1.png");
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        mix-blend-mode: soft-light;
        z-index: -1;
    }
}

.blogs-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8em;
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
            font-size: 1.25rem;
            max-width: 55ch;
            margin-top: 0.5rem;
            line-height: 1.5;
            opacity: 0.7;
        }
    }

    .body {
        width: 100%;
        padding: 0 2em;
        margin-top: 2rem;
    }

    .item {
        color: black;
        .item-header {
            .image {
                width: 100%;
                position: relative;
                background-color: red;
                aspect-ratio: 16/11;
                border-radius: 2rem;
                overflow: hidden;
                img {
                    object-fit: cover;
                }
            }
        }
        .item-body {
            background-color: white;
            border-radius: 2rem;
            position: relative;
            top: -5rem;
            width: 85%;
            margin: 0 auto;
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h3 {
                font-weight: bold;
            }
            p {
                font-size: 0.9rem;
                opacity: 0.8;
                line-height: 1.5;
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row-reverse;
                    gap: 0.25rem;
                    font-size: 1.3rem;
                    color: #ffb700;
                    border: 2px solid #ffb700;
                    border-radius: 100rem;
                    padding: 0.25em;
                    width: 50%;
                    &:first-child {
                        background-color: #ffb700;
                        color: white;
                    }
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/services/1.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.faqs-page {
    display: flex;
    align-items: center;
    padding-top: 9em;
    background-image: url("/images/login/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6em;
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        p {
            font-size: 1.25rem;
            max-width: 55ch;
            margin-top: 0.5rem;
            line-height: 1.5;
            opacity: 0.7;
        }
    }

    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin-top: 2rem;
        gap: 1.5rem;
        align-items: start;
        .item {
            background-color: white;
            padding: 1em 2em;
            h2 {
                font-size: 1.5rem;
                background: linear-gradient(0deg, #197bf2 0%, #d602fc 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // padding: 0.0em 1.25em;
                svg {
                    rotate: 180deg;
                    width: 2.5rem;
                    transition: all 1s ease;
                }
                cursor: pointer;
            }

            p {
                background: linear-gradient(180deg, #197bf2 0%, #d602fc 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1.75;
                padding-top: 0;
                font-weight: bold;
            }
        }
    }
}

.about-us-page {
    display: grid;
    grid-template-columns: 27rem 35rem;
    place-content: center;
    padding-top: 9em;
    padding-bottom: 6em;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/login/1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        p {
            font-size: 1.5rem;
            line-height: 2;
            opacity: 0.75;
        }
        .contacts {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            align-items: start;
            gap: 0.5rem;
            .item {
                background-color: white;
                font-weight: bold;
                border-radius: 100rem;
                span {
                    display: flex;
                    align-items: center;
                    font-size: 1.25rem;
                    gap: 0.25rem;
                    padding: 0.33em 0.75em;
                    background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }

    .right {
        position: relative;
        scale: 1.4;
    }
}

.add-found-page {
    min-height: 100dvh;
    padding-top: 6em;
    background-image: url("/images/login/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    .shapes {
        .shape-1 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 700px;
            height: 700px;
            mix-blend-mode: hard-light;
        }
    }
}

.user-panel-sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100dvh - 5.7rem);
    background: rgba(255, 183, 0, 0.13);
    backdrop-filter: blur(11px);
    z-index: 3;
    padding: 2em 1em;
    color: white;
    width: 19rem;
    animation:  slideLeft 2s ease forwards;
    .user {
        display: flex;
        align-items: center;
        .left {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            svg {
                font-size: 1.25rem;
            }
            h2 {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                gap: 0.25rem;
            }
            small {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-size: 1rem;
                color: #ffd773;
            }
        }
        .right{

        }
    }
}

.accordion {
    border-radius: 0.5rem;
    overflow: hidden;
    .accordion-header {
    }

    .accordion-body {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 1s ease;
        .content {
            overflow: hidden;
        }
    }
}

.accordion-true {
    border-radius: 0.5rem;
    overflow: hidden;
    .accordion-header {
        svg {
            rotate: 0deg !important;
        }
    }

    .accordion-body {
        display: grid;
        grid-template-rows: 1fr;
        transition: all 1s ease;
        .content {
            overflow: hidden;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // border-radius: 0px 0px 200px 200px;
    // max-width: 1300px;
    box-shadow: 3px 4px 59.5px 0px rgba(255, 255, 255, 0.19);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.29) 0%,
        rgba(255, 255, 255, 0.29) 0.01%,
        rgba(25, 123, 242, 0.29) 100%
    );
    backdrop-filter: blur(15.25px);
    padding: 2em;
    margin: 0 auto;
    z-index: 2;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        direction: rtl;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 0.5rem;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: white;

            svg {
                font-size: 1.25rem;
            }
        }
    }
}

footer {
    position: relative;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
    border-radius: 5rem 5rem 0 0;
    color: white;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    .header {
        display: flex;
        align-items: center;
        gap: 2rem;
        .right {
            position: relative;
            width: 350px;
            height: 200px;
        }
        .left {
            font-weight: bold;
            max-width: 25ch;
            font-size: 1.75rem;
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 2rem;
        .item {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 0.5rem;
            font-family: sans-serif;
            font-size: 1.25rem;
            svg {
                font-size: 1.5rem;
            }
        }
    }

    .lists {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        ul {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 1.5rem;
                background-color: white;
                color: $color-2;
                text-align: center;
                border-radius: 100rem;
                padding: 0.25em 2em;
                margin-bottom: 1rem;
            }
            li {
                list-style: disc;
                margin-right: 1.25rem;
                margin-top: 0.5rem;
                font-size: 1.1rem;
            }
        }
    }

    .rocket {
        position: absolute;
        width: 50%;
        height: 100%;
        opacity: 0.5;
        display: flex;
        bottom: 0;
        left: 0;
        z-index: -1;
        img {
            left: 0;
        }
    }
}

.table {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    background: linear-gradient(300deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);

    .table-header {
        display: grid;
        grid-template-columns: inherit;
        gap: 1rem;
        padding: 1.5em 2em;
        color: white;
        border-radius: 1rem 1rem 0 0;
        background-color: #fe00553a;
        .item {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 1.2rem;
        }
    }
    .table-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2em;
        padding-left: 1em;
        min-height: 35rem;
        max-height: 30rem;
        overflow: auto;
        grid-template-columns: inherit;
        transition: all 1s ease;

        .row {
            grid-column: -1/1;
            display: grid;
            grid-template-columns: inherit;
            gap: 1rem;
            border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
            padding-bottom: 1em;
            .property {
                display: flex;
                align-items: center;
                line-height: 1.5;
                color: white;
                .property-body {
                    align-self: center;
                    justify-self: start;
                    max-width: 100%;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    img {
                        max-width: 4rem;
                    }
                }
                .property-header {
                    display: none;
                }

                &:first-child {
                    background-color: rgb(223, 255, 45);
                    align-items: center;
                    justify-content: center;
                    padding: 0.25em;
                    border-radius: 100rem;
                    color: red;
                }
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .table-category {
        display: grid;
        grid-template-columns: inherit;
        h1 {
            grid-column: -1/1;
            text-align: center;
            padding: 0.5em;
        }
        .row {
            margin-top: 0.75rem !important;
            padding: 0.5em 1em;
            padding-top: 0;
            .long {
            }
        }
    }
    .table-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        gap: 2rem;
        .left,
        .right {
            display: flex;
        }
        .mid {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}


@keyframes slideLeft {
    from {
        right: -30rem;
    }
    to {
        right: 0%;
    }
}


@media only screen and (max-width: 1100px) {
    .table {
        flex-direction: row;
        .table-header {
            display: none;
        }
        .table-body {
            overflow: auto;
            grid-template-columns: 1fr;
            .row {
                gap: 0;
                .property {
                    display: grid;
                    grid-template-columns: 7ch 1fr;
                    align-items: initial;
                    gap: 1rem;
                    .property-header {
                        display: flex;
                        padding: 0.5em;
                        background-color: $color-1;
                        color: white;
                        align-items: center;
                        text-transform: capitalize;
                    }
                    .property-body {
                        display: flex;
                        align-items: center;
                    }
                    &:first-child {
                        .property-header {
                            border-radius: 0.5rem 0.5rem 0 0;
                        }
                        .property-body {
                            margin-bottom: 1rem;
                        }
                    }
                    &:last-child {
                        .property-header {
                            border-radius: 0 0 0.5rem 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
