@font-face {
  font-family: B-Yekan;
  src: url("/fonts/b-yekan.ttf");
}
@font-face {
  font-family: iranSans;
  src: url("/fonts/iran-sans.ttf");
}
.number {
  font-family: iranSans;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

a {
  font-family: B-Yekan;
}

img {
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  direction: rtl;
  background-image: url("/images/main-page/1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: B-Yekan !important;
}

main {
  height: -moz-max-content !important;
  height: max-content !important;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.shapes {
  position: absolute;
  inset: 0;
}

button {
  all: unset;
  cursor: pointer;
}

.icon * {
  color: inherit !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

.shapes {
  position: absolute;
  pointer-events: none;
}

.swiper {
  max-width: 100% !important;
}

.main-page .poster {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.main-page .poster .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}
.main-page .poster .left h1 {
  font-size: 3rem;
  text-align: right;
}
.main-page .poster .left p {
  max-width: 55ch;
  font-size: 1.5rem;
  line-height: 2;
  opacity: 0.7;
}
.main-page .poster .left .login {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.main-page .poster .left .login .group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2666666667);
  padding: 0.75em;
  gap: 0.25rem;
}
.main-page .poster .left .login .group input {
  all: unset;
  font-size: 1.5rem;
}
.main-page .poster .left .login .group input::-moz-placeholder {
  color: white;
}
.main-page .poster .left .login .group input::placeholder {
  color: white;
}
.main-page .poster .left .login .buttons {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;
}
.main-page .poster .left .login .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.main-page .poster .left .login .buttons button:first-child {
  background-color: white;
  color: #4976f3;
  padding: 0.1em 1em;
}
.main-page .poster .right img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page .poster .shapes {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.main-page .poster .shapes .shape-1 {
  position: absolute;
  right: 0;
  top: 0em;
  width: 500px;
  height: 600px;
}
.main-page .poster .shapes .shape-2 {
  position: absolute;
  left: -5rem;
  width: 300px;
  height: 300px;
  top: 10rem;
}
.main-page .poster .shapes .shape-3 {
  position: absolute;
  left: -5rem;
  width: 200px;
  height: 200px;
  bottom: 5rem;
}
.main-page .poster .shapes .shape-4 {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 200px;
  bottom: 0;
}
.main-page .poster .shapes .shape-5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
}
.main-page .why-us {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  height: -moz-max-content;
  height: max-content;
}
.main-page .why-us .left {
  width: 676px;
}
.main-page .why-us .left .avatar {
  width: 100%;
  height: 818px;
  position: relative;
}
.main-page .why-us .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .why-us .right .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.main-page .why-us .right .items .item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-page .why-us .right .items .item .image {
  position: relative;
  width: 7rem;
  height: 7rem;
}
.main-page .why-us .right .items .item .info p {
  font-size: 1.25rem;
  max-width: 50ch;
  opacity: 0.7;
}
.main-page .why-us .right .items .item:nth-child(2) {
  margin-right: 8rem;
}
.main-page .why-us .right .items .item:nth-child(3) {
  margin-right: 3rem;
}
.main-page .why-us .right .items .item:nth-child(4) {
  margin-right: 12rem;
}
.main-page .why-us .shapes .shape-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  right: -150px;
  top: 100px;
}
.main-page .platforms {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/main-page/22.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
  position: relative;
  justify-content: center;
  margin-top: 8rem;
}
.main-page .platforms .header {
  display: flex;
  flex-direction: column;
}
.main-page .platforms .header .list {
  display: flex;
  justify-content: start;
  margin-top: 0.5rem;
  gap: 1rem;
}
.main-page .platforms .header .list .item {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
}
.main-page .platforms .header p {
  color: rgba(255, 255, 255, 0.74);
  text-align: right;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 60ch;
}
.main-page .platforms .body {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}
.main-page .platforms .body .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  border-radius: 21px;
  padding: 2em;
  background: linear-gradient(180deg, #fb9534 0%, #a541ff 100%, #a541ff 100%);
}
.main-page .platforms .body .item .item-header {
  position: relative;
  width: 150px;
  aspect-ratio: 1/1;
}
.main-page .platforms .body .item .item-header img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page .platforms .body .item .item-body {
  text-align: center;
}
.main-page .platforms .body .item .item-body p {
  font-size: 0.8rem;
  opacity: 0.7;
}
.main-page .platforms .body .item .item-body button {
  background-color: white;
  border-radius: 100rem;
  color: #9c1fff;
  padding: 0.5em 1em;
  margin-top: 1rem;
}
.main-page .platforms .shapes .shape-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  bottom: 0;
}
.main-page .platforms .shapes .shape-2 {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 0;
  top: 20%;
}
.main-page .top-services {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.main-page .top-services .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .top-services .header .left {
  max-width: 70ch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .top-services .header .left p {
  font-size: 1.5rem;
  opacity: 0.7;
  max-width: 40ch;
  line-height: 1.75;
}
.main-page .top-services .header .left span {
  background-color: white;
  color: #9c1fff;
  margin: 1rem;
  padding: 0 0.5em;
  border-radius: 0.5rem;
  padding-block-end: 0.5rem;
}
.main-page .top-services .header .right .image {
  position: relative;
  width: 30rem;
  height: 30rem;
}
.main-page .top-services .body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  max-width: 1200px;
  gap: 2rem;
  z-index: 1;
}
.main-page .top-services .body .item {
  background-color: white;
  padding: 2em;
  position: relative;
  border-radius: 1rem;
}
.main-page .top-services .body .item .image {
  position: absolute;
  top: -4em;
  width: 8rem;
  height: 8rem;
}
.main-page .top-services .body .item h3 {
  background: linear-gradient(180deg, #d602fc 0%, #3c6ff7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-top: 1.5rem;
}
.main-page .top-services .body .item ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.main-page .top-services .body .item ul li {
  color: rgba(0, 15, 94, 0.54);
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: disc;
  margin-right: 1rem;
}
.main-page .top-services .body .item .price {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
}
.main-page .top-services .body .item .price span {
  background: linear-gradient(180deg, #d602fc 0%, #3c6ff7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 0 !important;
  padding-block: 0 !important;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}
.main-page .top-services .body .item .price svg {
  background-color: #f9435d;
  color: white;
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.main-page .top-services .shapes {
  position: absolute;
}
.main-page .top-services .shapes .shape-1 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
}
.main-page .top-services .shapes .shape-2 {
  width: 700px;
  height: 700px;
  position: absolute;
  bottom: 0%;
  left: 10%;
}
.main-page .top-services .shapes .shape-3 {
  position: absolute;
  width: 700px;
  height: 700px;
  right: -200px;
  top: 100px;
}
.main-page .customers-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-self: center;
}
.main-page .customers-reviews .left {
  display: flex;
  flex-direction: column;
}
.main-page .customers-reviews .left .header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-page .customers-reviews .left .header h1 {
  max-width: 20ch;
}
.main-page .customers-reviews .left .header p {
  max-width: 50ch;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  line-height: 2;
}
.main-page .customers-reviews .left .body {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  max-width: 80%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}
.main-page .customers-reviews .left .body .initial-child-container {
  width: -moz-max-content !important;
  width: max-content !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
}
.main-page .customers-reviews .left .body .item {
  background-color: white;
  border-radius: 1rem;
  padding: 1em;
  color: black;
  width: 18rem;
}
.main-page .customers-reviews .left .body .item .item-header {
  display: flex;
  align-items: center;
}
.main-page .customers-reviews .left .body .item .item-header h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.main-page .customers-reviews .left .body .item .item-header .date {
  font-size: 0.9rem;
  opacity: 0.6;
}
.main-page .customers-reviews .left .body .item .item-header .stars {
  color: orange;
}
.main-page .customers-reviews .left .body .item .item-body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.main-page .customers-reviews .left .body .item .item-body h3 {
  font-weight: bold;
}
.main-page .customers-reviews .left .body .item .item-body p {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.7;
  margin-top: 0.5rem;
}
.main-page .customers-reviews .left .body .item .item-body ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}
.main-page .customers-reviews .left .body .item .item-body ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-page .customers-reviews .left .body .item .item-body ul li span {
  font-weight: bold;
}
.main-page .customers-reviews .left .body .item .item-body ul li svg {
  font-size: 1.2rem;
}
.main-page .customers-reviews .left .body .item .image {
  position: relative;
  width: 100px;
  height: 100px;
}
.main-page .customers-reviews .right {
  position: absolute;
}
.main-page .customers-reviews .right .image {
  width: 800px;
  height: 800px;
  position: relative;
  opacity: 0.5;
  filter: blur(5px);
}
.main-page .videos {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: -moz-max-content;
  min-height: max-content;
  margin-top: 2rem;
}
.main-page .videos .left h1 {
  max-width: 18ch;
}
.main-page .videos .left p {
  max-width: 50ch;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  opacity: 0.7;
  line-height: 2;
}
.main-page .videos .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25em 1em;
  background-color: white;
  border-radius: 100rem;
  color: #9c1fff;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.main-page .videos .right {
  position: relative;
  width: 500px;
  height: 500px;
}
.main-page .gifts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-top: 2rem;
}
.main-page .gifts h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main-page .gifts p {
  font-size: 1.2rem;
}
.main-page .blogs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
  background-repeat: no-repeat;
}
.main-page .blogs .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main-page .blogs .header p {
  font-size: 1.5rem;
  max-width: 45ch;
  opacity: 0.7;
  margin-top: 1rem;
  line-height: 1.75;
}
.main-page .blogs .body {
  padding: 0 2em;
  margin-top: 2rem;
}
.main-page .blogs .body .item {
  color: black;
}
.main-page .blogs .body .item .item-header .image {
  width: 100%;
  position: relative;
  background-color: red;
  aspect-ratio: 16/11;
  border-radius: 2rem;
  overflow: hidden;
}
.main-page .blogs .body .item .item-header .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .blogs .body .item .item-body {
  background-color: white;
  border-radius: 2rem;
  position: relative;
  top: -5rem;
  width: 85%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .blogs .body .item .item-body h3 {
  font-weight: bold;
}
.main-page .blogs .body .item .item-body p {
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 1.5;
}
.main-page .blogs .body .item .item-body .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-page .blogs .body .item .item-body .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.25rem;
  font-size: 1.3rem;
  color: #ffb700;
  border: 2px solid #ffb700;
  border-radius: 100rem;
  padding: 0.25em;
  width: 50%;
}
.main-page .blogs .body .item .item-body .buttons button:first-child {
  background-color: #ffb700;
  color: white;
}
.main-page .blogs .body .shape-1 {
  width: 100%;
}

.services-page {
  background-image: url("/images/services/1.png");
  background-size: auto;
  background-repeat: repeat;
}
.services-page .poster {
  padding-top: 7em;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services-page .poster .container {
  display: flex;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.services-page .poster .container .right {
  position: relative;
  display: flex;
  width: 30rem;
  height: 30rem;
}
.services-page .poster .container .left {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.services-page .poster .container .left h1 {
  line-break: normal !important;
  line-height: 1.25;
}
.services-page .poster .container .left h1 .highlight {
  background-color: white;
  display: inline-block;
  padding: 0 0.5em;
  padding-block-end: 0.25em;
  border-radius: 1rem;
  margin: 0 1rem;
  margin-top: 1rem;
}
.services-page .poster .container .left h1 .highlight small {
  background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 99.99%, rgba(0, 0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-page .poster .container .left p {
  margin-top: 1rem;
  line-height: 2;
  font-size: 1.25rem;
  opacity: 0.7;
}
.services-page .top-sales {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.services-page .top-sales h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(255, 255, 23);
}
.services-page .top-sales .body {
  max-width: 1300px;
  align-self: center;
  margin-right: -1rem;
  margin-top: 2rem;
}
.services-page .top-sales .body .item {
  position: relative;
  background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
  stroke-width: 6px;
  stroke: #ffb700;
  filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
  padding: 2em;
  border-radius: 1rem;
  margin: 1rem 0;
  margin-top: 3rem;
  margin-right: 1rem;
}
.services-page .top-sales .body .item .item-header img {
  position: absolute;
  top: -4em;
  right: 2rem;
}
.services-page .top-sales .body .item .item-body {
  margin-top: 1.5rem;
}
.services-page .top-sales .body .item .item-body h3 {
  font-size: 1.75rem;
}
.services-page .top-sales .body .item .item-body ul {
  padding-right: 1em;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0.75;
}
.services-page .top-sales .body .item .item-body ul li {
  list-style: disc;
}
.services-page .top-sales .body .item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.services-page .top-sales .body .item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
}
.services-page .top-sales .body .item .item-buttons button svg {
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 0.75rem;
}
.services-page .todays-service {
  position: relative;
  margin-top: 4rem;
}
.services-page .todays-service fieldset {
  border: none;
  border-radius: 35px;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
.services-page .todays-service fieldset legend {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  margin-right: 4rem;
  font-size: 1.75rem;
  color: black;
  padding: 0.5em 2em;
  font-weight: bold;
}
.services-page .todays-service fieldset .content {
  display: grid;
  grid-template-columns: 18rem 1fr;
  padding: 2em;
}
.services-page .todays-service fieldset .content .left {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.services-page .todays-service fieldset .content .left h2 {
  background: linear-gradient(90deg, #d602fc 44.31%, #0d4bf4 51.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 30px;
  font-style: normal;
}
.services-page .todays-service fieldset .content .left ul {
  display: flex;
  gap: 2rem;
  padding: 1em 0;
  padding-right: 1em;
}
.services-page .todays-service fieldset .content .left ul li {
  list-style: disc;
}
.services-page .todays-service fieldset .content .left p {
  display: inline;
  color: rgba(0, 0, 0, 0.57);
  text-align: right;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  width: 90%;
  margin-left: auto;
}
.services-page .todays-service fieldset .content .left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.services-page .todays-service fieldset .content .left .buttons svg {
  font-size: 3.5rem;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
}
.services-page .todays-service fieldset .content .left .buttons span {
  font-size: 2rem;
  font-weight: bold;
}
.services-page .todays-service fieldset .content .right {
  position: relative;
}
.services-page .todays-service .shapes .shape-1 {
  left: 0;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 20%;
  bottom: 5%;
}
.services-page .popular-categories {
  margin-top: 3rem;
}
.services-page .popular-categories .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-page .popular-categories .header .left {
  position: relative;
}
.services-page .popular-categories .header .left .image {
  width: 23rem;
  height: 23rem;
  scale: 1.3;
}
.services-page .popular-categories .header .right p {
  line-height: 2;
  font-size: 1.25rem;
  opacity: 0.7;
  max-width: 43ch;
}
.services-page .popular-categories .body {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}
.services-page .popular-categories .body .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  border-radius: 21px;
  padding: 2em;
  background: linear-gradient(180deg, #fb9534 0%, #a541ff 100%, #a541ff 100%);
}
.services-page .popular-categories .body .item .item-header {
  position: relative;
  width: 150px;
  aspect-ratio: 1/1;
}
.services-page .popular-categories .body .item .item-header img {
  -o-object-fit: contain;
     object-fit: contain;
}
.services-page .popular-categories .body .item .item-body {
  text-align: center;
}
.services-page .popular-categories .body .item .item-body p {
  font-size: 0.8rem;
  opacity: 0.7;
}
.services-page .popular-categories .body .item .item-body button {
  background-color: white;
  border-radius: 100rem;
  color: #9c1fff;
  padding: 0.5em 1em;
  margin-top: 1rem;
}
.services-page .platform-select {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.services-page .platform-select .platforms {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
}
.services-page .platform-select .platforms .header {
  display: flex;
  flex-direction: column;
}
.services-page .platform-select .platforms .header .list {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  gap: 1rem;
}
.services-page .platform-select .platforms .header .list .item {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
}
.services-page .platform-select .platforms .header .list .item-true {
  background-color: white;
  border-radius: 1rem;
}
.services-page .platform-select .platforms .header p {
  color: rgba(255, 255, 255, 0.74);
  text-align: right;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 60ch;
}
.services-page .platform-select .platforms .header h2 {
  margin-top: 0.5rem;
}
.services-page .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.services-page .search-box .search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  border-radius: 100rem;
  gap: 0.5rem;
}
.services-page .search-box .search-input input {
  all: unset;
  font-size: 1.5rem;
}
.services-page .search-box .search-input svg {
  font-size: 1.5rem;
  rotate: 90deg;
}
.services-page .search-box .filter .css-13cymwt-control {
  border-radius: 100rem !important;
}
.services-page .search-box .filter * {
  color: black !important;
  font-size: 1.5rem;
}
.services-page .search-top-sales {
  margin-top: 2rem;
  max-width: 1300px;
  align-self: center;
}
.services-page .search-top-sales h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(255, 255, 23);
  font-size: 2.5rem;
}
.services-page .search-top-sales .body {
  align-self: center;
  margin-right: -1rem;
  margin-top: 1rem;
}
.services-page .search-top-sales .body .item {
  position: relative;
  background: linear-gradient(180deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
  stroke-width: 6px;
  stroke: #ffb700;
  filter: drop-shadow(9px 12px 10px rgba(0, 0, 0, 0.25));
  padding: 2em;
  border-radius: 1rem;
  margin: 1rem 0;
  margin-top: 3rem;
  margin-right: 1rem;
}
.services-page .search-top-sales .body .item .item-header img {
  position: absolute;
  top: -4em;
  right: 2rem;
}
.services-page .search-top-sales .body .item .item-body {
  margin-top: 1.5rem;
}
.services-page .search-top-sales .body .item .item-body h3 {
  font-size: 1.75rem;
}
.services-page .search-top-sales .body .item .item-body ul {
  padding-right: 1em;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0.75;
}
.services-page .search-top-sales .body .item .item-body ul li {
  list-style: disc;
}
.services-page .search-top-sales .body .item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.services-page .search-top-sales .body .item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-size: 1.75em;
  align-items: center;
  justify-content: center;
}
.services-page .search-top-sales .body .item .item-buttons button svg {
  background: linear-gradient(180deg, #f75061 0%, #ffb700 100%);
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 0.75rem;
}
.services-page .search-table-result {
  margin: 3rem 0;
}

.login-page {
  min-height: 100dvh;
  background-image: url("/images/login/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 27rem 40rem;
  place-content: center;
  align-items: center;
}
.login-page .left {
  display: flex;
}
.login-page .left .image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  mix-blend-mode: hard-light;
}
.login-page .right form {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(214, 2, 252, 0.5) 100%);
  border-radius: 1.5rem;
  padding: 2em 3em;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.login-page .right form .header {
  display: flex;
  justify-content: start;
  align-items: center;
}
.login-page .right form .header .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
.login-page .right form .header .info button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.25rem;
  border-radius: 68px;
  padding: 0.5em 1.5em;
}
.login-page .right form .header .info button svg {
  font-size: 1.5rem;
}
.login-page .right form .header .info .item-true {
  background: #fff;
  color: #9c1fff;
}
.login-page .right form .body {
  margin-top: 1rem;
}
.login-page .right form .body p {
  opacity: 0.7;
  line-height: 1.75;
}
.login-page .right form .body .inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.login-page .right form .body .inputs .form-group {
  border: 2px solid #fff;
  border-radius: 100rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 1em;
  gap: 0.5rem;
}
.login-page .right form .body .inputs .form-group input {
  all: unset;
  width: 100%;
  padding: 0.75em 0;
}
.login-page .right form .body .inputs .form-group input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.651);
}
.login-page .right form .body .inputs .form-group input::placeholder {
  color: rgba(255, 255, 255, 0.651);
}
.login-page .right form .body .inputs .form-group svg {
  font-size: 1.5rem;
}
.login-page .right form .buttons {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.login-page .right form .buttons .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #9c1fff;
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 100rem;
  padding-block-end: 0.5rem;
}

.contact-us {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3em;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.contact-us form .form-header {
  z-index: 1;
  max-width: 60ch;
}
.contact-us form .form-header span {
  background-color: white;
  display: inline-block;
  margin: 0 1rem;
  margin-right: 0;
  margin-top: 0.5rem;
  padding: 0 0.5em;
  border-radius: 0.5rem;
}
.contact-us form .form-header span small {
  background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 99.99%, rgba(0, 0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-us form .form-header p {
  margin-top: 0.5rem;
  line-height: 1.75;
}
.contact-us form .form-body {
  display: grid;
  grid-template-columns: 15rem 15rem;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.contact-us form .form-body .form-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  gap: 0.25rem;
  font-size: 1.1rem;
}
.contact-us form .form-body .form-group input {
  all: unset;
  width: 100%;
}
.contact-us form .form-body .form-group input::-moz-placeholder {
  color: white;
}
.contact-us form .form-body .form-group input::placeholder {
  color: white;
}
.contact-us form .form-body .form-group svg {
  font-size: 1.5rem;
}
.contact-us form .form-body .message {
  grid-column: -1/1;
  align-items: start;
}
.contact-us form .form-body .message textarea {
  width: 100%;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: white;
  font-size: 1rem;
  font-family: inherit !important;
}
.contact-us form .form-body .message textarea::-moz-placeholder {
  color: white;
}
.contact-us form .form-body .message textarea::placeholder {
  color: white;
}
.contact-us form .form-buttons {
  display: flex;
  margin-top: 2rem;
}
.contact-us form .form-buttons button {
  background-color: white;
  font-weight: bold;
  padding: 0.25em 2em;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.contact-us form .form-buttons button span {
  background: linear-gradient(180deg, #d602fc 0%, #197bf2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/contact-us/1.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
  z-index: -1;
}

.blogs-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8em;
}
.blogs-page .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.blogs-page .header p {
  font-size: 1.25rem;
  max-width: 55ch;
  margin-top: 0.5rem;
  line-height: 1.5;
  opacity: 0.7;
}
.blogs-page .body {
  width: 100%;
  padding: 0 2em;
  margin-top: 2rem;
}
.blogs-page .item {
  color: black;
}
.blogs-page .item .item-header .image {
  width: 100%;
  position: relative;
  background-color: red;
  aspect-ratio: 16/11;
  border-radius: 2rem;
  overflow: hidden;
}
.blogs-page .item .item-header .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs-page .item .item-body {
  background-color: white;
  border-radius: 2rem;
  position: relative;
  top: -5rem;
  width: 85%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blogs-page .item .item-body h3 {
  font-weight: bold;
}
.blogs-page .item .item-body p {
  font-size: 0.9rem;
  opacity: 0.8;
  line-height: 1.5;
}
.blogs-page .item .item-body .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.blogs-page .item .item-body .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.25rem;
  font-size: 1.3rem;
  color: #ffb700;
  border: 2px solid #ffb700;
  border-radius: 100rem;
  padding: 0.25em;
  width: 50%;
}
.blogs-page .item .item-body .buttons button:first-child {
  background-color: #ffb700;
  color: white;
}
.blogs-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/services/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.faqs-page {
  display: flex;
  align-items: center;
  padding-top: 9em;
  background-image: url("/images/login/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6em;
}
.faqs-page .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.faqs-page .header p {
  font-size: 1.25rem;
  max-width: 55ch;
  margin-top: 0.5rem;
  line-height: 1.5;
  opacity: 0.7;
}
.faqs-page .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin-top: 2rem;
  gap: 1.5rem;
  align-items: start;
}
.faqs-page .body .item {
  background-color: white;
  padding: 1em 2em;
}
.faqs-page .body .item h2 {
  font-size: 1.5rem;
  background: linear-gradient(0deg, #197bf2 0%, #d602fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faqs-page .body .item h2 svg {
  rotate: 180deg;
  width: 2.5rem;
  transition: all 1s ease;
}
.faqs-page .body .item p {
  background: linear-gradient(180deg, #197bf2 0%, #d602fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.75;
  padding-top: 0;
  font-weight: bold;
}

.about-us-page {
  display: grid;
  grid-template-columns: 27rem 35rem;
  place-content: center;
  padding-top: 9em;
  padding-bottom: 6em;
}
.about-us-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/login/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us-page .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.about-us-page .left p {
  font-size: 1.5rem;
  line-height: 2;
  opacity: 0.75;
}
.about-us-page .left .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: start;
  gap: 0.5rem;
}
.about-us-page .left .contacts .item {
  background-color: white;
  font-weight: bold;
  border-radius: 100rem;
}
.about-us-page .left .contacts .item span {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.25rem;
  padding: 0.33em 0.75em;
  background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us-page .left .contacts .item span svg {
  width: 2rem;
  height: 2rem;
}
.about-us-page .right {
  position: relative;
  scale: 1.4;
}

.user-panel {
  min-height: 100dvh;
  padding-right: 16.5em;
  padding-top: 6em;
}

.add-found-page {
  min-height: 100dvh;
  padding-top: 6em;
  background-image: url("/images/login/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.add-found-page .shapes .shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 700px;
  height: 700px;
  mix-blend-mode: hard-light;
}

.statistics-page .shapes {
  top: 6em;
  z-index: -1;
  mix-blend-mode: soft-light;
}
.statistics-page .quick-views {
  display: flex;
  gap: 1rem;
  padding: 2em;
  justify-content: center;
  margin-top: 1rem;
}
.statistics-page .quick-views .item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1.5em 2em;
  border-radius: 0.75rem;
  gap: 0.5rem;
}
.statistics-page .quick-views .item .header {
  color: white;
  font-size: 1.25rem;
  display: flex;
}
.statistics-page .quick-views .item .body {
  font-family: iranSans;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: white;
  color: black;
  border-radius: 100rem;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0 1em;
  width: -moz-max-content;
  width: max-content;
}
.statistics-page .quick-views .item .body small {
  font-size: 0.75rem;
}
.statistics-page .quick-views .item .right {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.statistics-page .quick-views .item svg {
  font-size: 3rem;
}
.statistics-page .quick-views .item:nth-child(1) {
  background-color: #ff6c84;
}
.statistics-page .quick-views .item:nth-child(2) {
  background-color: #ffc36b;
}
.statistics-page .quick-views .item:nth-child(3) {
  background-color: #4edfc2;
}
.statistics-page .quick-views .item:nth-child(4) {
  background-color: #5ba7ff;
}
.statistics-page .active-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statistics-page .active-services h2 {
  text-align: center;
}
.statistics-page .active-services .platforms {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.statistics-page .active-services .platforms .item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 2em;
  gap: 1rem;
  padding-right: 0;
  border-radius: 100rem;
  transition: all 1s ease;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 2rem;
}
.statistics-page .active-services .platforms .item img {
  scale: 1.4;
}
.statistics-page .active-services .platforms .item-true {
  background-color: white;
  color: black;
  font-weight: bold;
}
.statistics-page .active-services .services {
  max-width: 1200px;
  margin-top: 3rem;
  position: relative;
  left: -50%;
  transform: translateX(50%);
}
.statistics-page .active-services .services .item {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1.5em;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.statistics-page .active-services .services .item .item-body {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
}
.statistics-page .active-services .services .item .item-body span {
  margin-top: 0.5rem;
  background-color: white;
  color: #4976f3;
  padding: 0.25em 1em;
  border-radius: 100rem;
}
.statistics-page .events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.statistics-page .events .vertical-timeline-element {
  direction: ltr;
}
.statistics-page .events .vertical-timeline-element * {
  visibility: visible !important;
  opacity: 1 !important;
  color: white !important;
}

.user-panel-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: calc(100dvh - 5.7rem);
  max-height: calc(100dvh - 5.7rem);
  overflow: auto;
  background: rgba(255, 183, 0, 0.1);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  z-index: 3;
  padding: 2em 0em;
  color: white;
  animation: slideLeft 2s ease forwards;
}
.user-panel-sidebar .user {
  display: flex;
  align-items: center;
}
.user-panel-sidebar .user .left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.user-panel-sidebar .user .left svg {
  font-size: 1.25rem;
}
.user-panel-sidebar .user .left h2 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.25rem;
}
.user-panel-sidebar .user .left small {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  color: #ffd773;
}
.user-panel-sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 0.5rem;
}
.user-panel-sidebar ul li {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  gap: 0.5rem;
  padding: 0.25em 1em;
  border-radius: 100rem;
  transition: all 1s ease;
  cursor: pointer;
}
.user-panel-sidebar ul .item-true {
  background-color: white;
  color: #9c1fff;
}

.accordion {
  border-radius: 0.5rem;
  overflow: hidden;
}
.accordion .accordion-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.accordion .accordion-body .content {
  overflow: hidden;
}

.accordion-true {
  border-radius: 0.5rem;
  overflow: hidden;
}
.accordion-true .accordion-header svg {
  rotate: 0deg !important;
}
.accordion-true .accordion-body {
  display: grid;
  grid-template-rows: 1fr;
  transition: all 1s ease;
}
.accordion-true .accordion-body .content {
  overflow: hidden;
}

.CircularProgressbar-text {
  font-family: iranSans;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 4px 59.5px 0px rgba(255, 255, 255, 0.19);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, rgba(255, 255, 255, 0.29) 0.01%, rgba(25, 123, 242, 0.29) 100%);
  -webkit-backdrop-filter: blur(15.25px);
          backdrop-filter: blur(15.25px);
  padding: 2em;
  margin: 0 auto;
  z-index: 2;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  direction: rtl;
}
header ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}
header ul a svg {
  font-size: 1.25rem;
}

footer {
  position: relative;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
  border-radius: 5rem 5rem 0 0;
  color: white;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
footer .header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .header .right {
  position: relative;
  width: 350px;
  height: 200px;
}
footer .header .left {
  font-weight: bold;
  max-width: 25ch;
  font-size: 1.75rem;
}
footer .social-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .social-links .item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-family: sans-serif;
  font-size: 1.25rem;
}
footer .social-links .item svg {
  font-size: 1.5rem;
}
footer .lists {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
footer .lists ul {
  display: flex;
  flex-direction: column;
}
footer .lists ul h1 {
  font-size: 1.5rem;
  background-color: white;
  color: #9c1fff;
  text-align: center;
  border-radius: 100rem;
  padding: 0.25em 2em;
  margin-bottom: 1rem;
}
footer .lists ul li {
  list-style: disc;
  margin-right: 1.25rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}
footer .rocket {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: -1;
}
footer .rocket img {
  left: 0;
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  background: linear-gradient(300deg, #fb9534 0%, #9c1fff 99.99%, #fff 100%);
}
.table .table-header {
  display: grid;
  grid-template-columns: inherit;
  gap: 1rem;
  padding: 1.5em 2em;
  color: white;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(254, 0, 85, 0.2274509804);
}
.table .table-header .item {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
}
.table .table-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2em;
  padding-left: 1em;
  min-height: 35rem;
  max-height: 30rem;
  overflow: auto;
  grid-template-columns: inherit;
  transition: all 1s ease;
}
.table .table-body .row {
  grid-column: -1/1;
  display: grid;
  grid-template-columns: inherit;
  gap: 1rem;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 1em;
}
.table .table-body .row .property {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: white;
}
.table .table-body .row .property .property-body {
  align-self: center;
  justify-self: start;
  max-width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .table-body .row .property .property-body img {
  max-width: 4rem;
}
.table .table-body .row .property .property-header {
  display: none;
}
.table .table-body .row .property:first-child {
  background-color: rgb(223, 255, 45);
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  border-radius: 100rem;
  color: red;
}
.table .table-body .row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.table .table-category {
  display: grid;
  grid-template-columns: inherit;
}
.table .table-category h1 {
  grid-column: -1/1;
  text-align: center;
  padding: 0.5em;
}
.table .table-category .row {
  margin-top: 0.75rem !important;
  padding: 0.5em 1em;
  padding-top: 0;
}
.table .table-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  font-size: 2rem;
  gap: 2rem;
}
.table .table-pagination .left,
.table .table-pagination .right {
  display: flex;
}
.table .table-pagination .mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@keyframes slideLeft {
  from {
    right: -30rem;
  }
  to {
    right: 0%;
  }
}
@media only screen and (max-width: 1100px) {
  .table {
    flex-direction: row;
  }
  .table .table-header {
    display: none;
  }
  .table .table-body {
    overflow: auto;
    grid-template-columns: 1fr;
  }
  .table .table-body .row {
    gap: 0;
  }
  .table .table-body .row .property {
    display: grid;
    grid-template-columns: 7ch 1fr;
    align-items: initial;
    gap: 1rem;
  }
  .table .table-body .row .property .property-header {
    display: flex;
    padding: 0.5em;
    background-color: #4976f3;
    color: white;
    align-items: center;
    text-transform: capitalize;
  }
  .table .table-body .row .property .property-body {
    display: flex;
    align-items: center;
  }
  .table .table-body .row .property:first-child .property-header {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .table .table-body .row .property:first-child .property-body {
    margin-bottom: 1rem;
  }
  .table .table-body .row .property:last-child .property-header {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}/*# sourceMappingURL=globals.css.map */