$color-1: #4976f3;
$color-2: #9c1fff;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;
$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

$headers-size-h1: 3rem;
$headers-size-h2: 2.5rem;
$headers-size-h3: 1.5rem;

.about-us-page {
    display: grid;
    grid-template-columns: 27rem 35rem;
    place-content: center;
    padding-top: 9em;
    padding-bottom: 6em;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/login/1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        p {
            font-size: 1.5rem;
            line-height: 2;
            opacity: 0.75;
        }
        .contacts {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            align-items: start;
            gap: 0.5rem;
            .item {
                background-color: white;
                font-weight: bold;
                border-radius: 100rem;
                span {
                    display: flex;
                    align-items: center;
                    font-size: 1.25rem;
                    gap: 0.25rem;
                    padding: 0.33em 0.75em;
                    background: linear-gradient(180deg, #d602fc 0%, #0d4bf4 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }

    .right {
        position: relative;
        scale: 1.4;
    }
}
